h1 {
    color: blue;
    background-color: black;
    text-align: center;
    font-size: large;
    font-style: italic;
  }
  p {
    font-family: sans-serif;
    font-size: medium;
    font-style: normal;
  }
  ul {
    line-height: 40px;
  }